<launch>

    <arg name="vesc_path" default="/dev/VESC" />
    <arg name="fuse_odom" default="false" />
    <arg name="odom_tf" default="true" />

    <rosparam file="$(find hardware)/vehicle_params.yaml" command="load" ns="vehicle" />

    <!-- driver -->
    <node
        name="vesc_driver" pkg="vesc_driver" type="vesc_driver_node" respawn="true" >
        <param name="port" value="$(arg vesc_path)" />
        <rosparam file="$(find vesc_driver)/vesc_driver.yaml" command="load" />
    </node>
    
    <!-- Command interface -->
    <node name="vesc_interface" pkg="vesc_interface" type="vesc_interface_node" respawn="true" >
        <rosparam file="$(find vesc_interface)/vesc_interface.yaml" command="load" />
    </node>

    <!-- Odom publisher -->
    <node
        name="odom_publisher" pkg="vesc_interface" type="odom_publisher_node" respawn="true" unless="$(arg fuse_odom)" >
        <param name="publish_tf" value="$(arg odom_tf)" />
    </node>
    
</launch>
