<launch>
    
    <!-- HARDWARE --> 
        <include file="$(find hardware)/hardware.launch" />
    
    <!-- LOCALIZATION -->
        <arg name="use_scan_matcher" default="false" />
        <arg name="use_slam" default="true" />
    
        <include file="$(find localization)/csm.launch" if="$(arg use_scan_matcher)" />
        <include file="$(find localization)/slam.launch" if="$(arg use_slam)" />
        
    <!-- RVIZ -->
        <arg name="use_rviz" default="false" />
        <include file="$(find user_interface)/rviz.launch" if="$(arg use_rviz)" />
    
</launch>
