ACTION=="add", SUBSYSTEM=="tty", ATTRS{serial}=="931F0AFF2B", SYMLINK+="VMU931", MODE="0666", NAME="VMU931"
ACTION=="add", SUBSYSTEM=="tty", ATTRS{idVendor}=="15d1", ATTRS{idProduct}=="0000", ATTRS{product}=="URG-Series USB Driver", SYMLINK+="Hokuyo", MODE="0666", NAME="Hokuyo"
ACTION=="add", SUBSYSTEM=="tty", ATTRS{serial}=="301", SYMLINK+="VESC", MODE="0666", NAME="VESC"
ACTION=="add", SUBSYSTEM=="input", ATTRS{name}=="Microsoft X-Box 360 pad", SYMLINK+="joystick", NAME="joystick"
