<robot
  name="ffast_urdf">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="-0.044003 -0.00051965 -0.047799"
        rpy="0 0 0" />
      <mass
        value="1.4256" />
      <inertia
        ixx="0.0064673"
        ixy="-5.4655E-05"
        ixz="-0.00076741"
        iyy="0.016008"
        iyz="1.0535E-06"
        izz="0.017932" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ffast_urdf/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="0.79216 0.81961 0.93333 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://ffast_urdf/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>