<launch>
    <arg name="fuse_odom" default="true" />

    <node pkg="move_base" type="move_base" respawn="false" name="move_base" output="screen">
        <rosparam file="$(find planning)/config/costmap_common_params.yaml" command="load" ns="global_costmap" />
        <rosparam file="$(find planning)/config/costmap_common_params.yaml" command="load" ns="local_costmap" />
        <rosparam file="$(find planning)/config/local_costmap_params.yaml" command="load" />
        <rosparam file="$(find planning)/config/global_costmap_params.yaml" command="load" />
    
        <!--param name="base_global_planner" value="sbpl_lattice_planner/SBPLLatticePlanner" /-->
        <param name="base_local_planner" value="teb_local_planner/TebLocalPlannerROS" />
        <!--rosparam file="$(find planning)/config/base_global_planner_params.yaml" command="load" /-->
        <rosparam file="$(find planning)/config/base_local_planner_params.yaml" command="load" />

        <remap from="/cmd_vel" to="/commands/cmd_vel" />
        <remap from="/move_base_simple/goal" to="/goal" />
        <remap from="/odom" to="/odom_fused" if="$(arg fuse_odom)" />
    </node>

</launch>
