<launch>
    
    <!-- EKF -->
    <arg name="use_ekf" default="true" />
    <group if="$(arg use_ekf)">
        <include file="$(find robot_pose_ekf)/robot_pose_ekf.launch">
            <arg name="base_footprint_frame" value="base_link" />
            <arg name="odom_used" value="true" />
            <arg name="imu_used" value="true" />
            <arg name="vo_used" value="false" />
            <arg name="remap_frame" value="odom" />
            <arg name="remap_imu" value="imu" />
        </include>
    </group>
    
    <!-- SLAM -->
    <arg name="use_slam" default="true" />
        <group if="$(arg use_slam)">
            <node
                name="hector_mapping" pkg="hector_mapping" type="hector_mapping" output="screen">
                <param name="map_frame" value="map" />
                <param name="base_frame" value="base_link" />
                <param name="odom_frame" value="odom_combined" if="$(arg use_ekf)" />
                <param name="odom_frame" value="odom" unless="$(arg use_ekf)" />
                <param name="scan_topic" value="scan" />
                <param name="use_tf_scan_transformation" value="true" />
                <param name="use_tf_pose_start_estimate" value="false" />
                <param name="pub_map_odom_transform" value="true" />
                <param name="pub_map_scanmatch_transform" value="false" />
                
                <remap from="poseupdate" to="hector_mapping/pose_with_covariance" />
                <remap from="slam_cloud" to="hector_mapping/slam_cloud" />
                <remap from="slam_out_pose" to="hector_mapping/pose" />
                <remap from="syscommand" to="hector_mapping/syscommand" />
            </node>
        </group>
    
</launch>
